<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>info页面</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/style.min.css}" rel="stylesheet" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h5>info</h5>
    </div>
    <div class="ibox-content">
      <p>info</p>
      <p class="text-muted">info</p>
    </div>
  </div>
</div>
</body>
</html>