<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('买家概览')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title">
            <h5>买家概览</h5>
        </div>
        <div class="ibox-content">
            <p>欢迎来到买家工作台，您可以在左侧导航查看需求信息、商品交易以及售后服务。</p>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
</body>
</html>
