<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('订单评价')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title">
            <h5>订单评价</h5>
        </div>
        <div class="ibox-content">
            <p>完成订单后，您可以在此对商品与服务进行评价，帮助更多买家了解商品质量。</p>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
</body>
</html>
